<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор</title>
    <link rel="stylesheet" href="../static/calc.css">
</head>

<body>
    <div class="container">
        <h1>Калькулятор</h1>
        <form method="POST">
            <input type="number" name="num1" step="any" required placeholder="Перше число">
            <select name="operation">
                <option value="add">➕ Додавання</option>
                <option value="subtract">➖ Віднімання</option>
                <option value="multiply">✖️ Множення</option>
                <option value="divide">➗ Ділення</option>
            </select>
            <input type="number" name="num2" step="any" required placeholder="Друге число">
            <button type="submit">Обчислити</button>
        </form>

        {% if result is not none %}
        <h2>Результат:{{result}}</h2>
        {% endif %}
    </div>
</body>

</html>